MYSQL_USER=matcha_user
MYSQL_DATABASE=matcha_db
MYSQL_PASSWORD=matcha_password
MYSQL_RANDOM_ROOT_PASSWORD=yes
SECRET_KEY=24e7efc474d52ad6e710c6d3c8089def1cdccdc7002344802dfbdf89c087aecf_example
SMTP_HOST=mail.delaware.o2switch.net
SMTP_USER=user@domaine.fr
SMTP_PASS=email_password
MERCURE_PUBLISHER_JWT_KEY=eb6ktqKOlV5/ZY0SOGvfQKIn1g3EoOFp3WynxdxLtWc=
MERCURE_SUBSCRIBER_JWT_KEY=TdPYzWJDL7obf7ZGvV3TnXGja8y2jciB4Dawe5yyXjU=

APP_HOST=1a1.42angouleme.fr